<div class="container">
  <span style="z-index: -1;"><img src = "assets/circle.png" style="width: 800px;height:500px;margin-left:420px;margin-top: -25px;position: absolute;"></span>
  
  <span style="padding-left: 20px;padding-top: 10px;"><img src="assets/logo.png" style="margin-top: -25px;margin-left: -60px;position:absolute;"></span>
  <span style="color: black;position: absolute;margin-top: 50px;margin-left: 500px;">Produts</span>
  <span style="color: black;position: absolute;margin-top: 50px;margin-left: 600px;">Solutions</span>
  <span style="color: black;position: absolute;margin-top: 50px;margin-left: 700px;">Pricing</span>
  <span style="color: black;position: absolute;margin-top: 45px;margin-left: 800px;"><button type="button" class="logIn">Login</button></span>
  <span style="color: black;position: absolute;margin-top: 45px;margin-left: 950px;"><button type="button" class="logIn" style="color: white;background-color: purple;">Get Started</button></span>
  <div>
    <span style="z-index: 1;"><img src = "assets/solve.svg" style="margin-left:100px;width: 288px;margin-top:90px;position: absolute;"></span>
  </div>
  <div id="separator"></div>
  <div>
    <span style="z-index: -1;"><img src = "assets/cropped.png" id="blobSmall"></span>
  </div>
  
  <div>
    <span style="z-index: 1;"><img src = "assets/collect.png" id="collect"></span>
  </div>
  <div>
    <span style="z-index: 1;"><img src = "assets/accounting_dots.png" style="width: 430px;height:50px;margin-left:250px;margin-top: 440px;position: absolute;"></span>
  </div>
  <div class="elgibility">
    <br>
    <span style="padding-left: 60px;padding-top: 20px;">Eligibility Calculator</span>
    <div>
      <span style="margin-left:10px">Monthly Income</span>
      <mat-card-content>
        <h1 [(ngModel)]="value" class= "Header" id="showValue">0</h1>
      
        <mat-slider (input)="onInputChange($event)" style="width: 280px;margin-top:-25px;margin-left: 10px;"
          class="Income"
          invert="false"
          max="300000"
          min="100000"
          step="1"
          thumbLabel="false"
          [tickInterval]="getSliderTickInterval()"
          [(ngModel)]="valueIncome"
          vertical="false">
        </mat-slider>
      </mat-card-content>
      <br>
      <span style="margin-left: 10px;">Monthly Expense</span>
      <mat-card-content>
        <h1 [(ngModel)]="value" id="showExpense" class= "Header" >0</h1>
    
        <mat-slider (input)="onExpenseChange($event)" style="width: 280px;margin-top:-20px;margin-left: 10px;"
            class="Expense"
            invert="false"
            max="100000"
            min="10000"
            step="1"
            thumbLabel="false"
            [tickInterval]="getSliderExpenseInterval()"
            [(ngModel)]="value"
            vertical="false">
        </mat-slider>
      </mat-card-content>
      <form style="margin-left:10px">
        <h4 style="margin-left:10px">Repayment Teure</h4>
        <mat-form-field appearance="fill">
          <mat-label>Select Months</mat-label>
          <mat-select>
            <mat-option value="3 Months">3 Months</mat-option>
            <mat-option value="6 Months">6 Months</mat-option>
            <mat-option value="9 Months">9 Months</mat-option>
            <mat-option value="12 Months">12 Months</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div style="margin-left:10px">Do you have any existing loans? <mat-slide-toggle style="margin-left:40px"></mat-slide-toggle></div>
      <br>
      <div style="margin-left:10px"><span>EMI of existing loan (optional)</span>
        <mat-form-field appearance="legacy">
          <mat-label>₹ 15000</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="getMoney">
    <span style="margin-left:35px;margin-top: 75px;">Loan Amount</span>
    <br>
    <span style="margin-left:45px;margin-top:80px;">₹ 100000</span>
    <br>
    <span style="margin-left:35px;margin-top:90px;">Your EMI will be</span>
    <br>
    <span style="margin-left:45px;margin-top:100px;">₹ 15000</span>
    <br>
    <button type="button" id ="startButton" style="position: absolute;margin-left: 50px;margin-top: 110px;height: 30px;border-radius: 10px;color: blue;">Get Money</button>
  </div>
</div>